<template name="postsList">
<div id="content" >


{{#if submit}}
<div class= "post-confession-box animated bounceInDown">
{{> postSubmit}}
</div>
{{else}}
 <a class="post-confession" href="{{postSubmit}}">Post A Confession</a>
 {{/if}}
  <div class="posts infinite-container">


{{#masonryContainer columnWidth=115 transitionDuration="0.1s" gutter=2 id="MasonryContainer" }}
     {{#each postsWithRank}}

       {{#masonryElement "MasonryContainer"}}
        {{> postItem}}
       {{/masonryElement}}
     {{/each}}
  {{/masonryContainer}}



    {{#if nextPath}}
      <a id='example-offset-pixels' class="load-more" href="{{nextPath}}">Load more</a>
    {{/if}}
  </div>
  </div>
</template>
